<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Freelancer - Start Bootstrap Theme</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/freelancer.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
         <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="#page-top">UserView</a>
          </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                      <% if user_signed_in? %>
             <%= link_to 'Sports View', visitors_SportsView_path %></li>
                  
                    <li class="page-scroll">
                        <%= link_to 'Science View', visitors_ScienceView_path %>
                    </li>
                    <li class="page-scroll">
                        <%= link_to 'Contact Us', visitors_contact_path %>
                    </li>
                  <li class="page-scroll">
                  <%= link_to 'Edit account', edit_user_registration_path %>
                  </li>
                  <li class="page-scroll">
                  <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
                  </li>
                  <% else %>
                  <li class="page-scroll">
                  <%= link_to 'Sign in', new_user_session_path %>
                  </li>
                  <li class="page-scroll">
                 <li><%= link_to 'Sign up', new_user_registration_path %>
                  </li>
                  <% end %>
                  <% if user_signed_in? %>
                  <li class="page-scroll">
                  <%= link_to 'Users', users_path %>
                  </li> 
                  <% end %>
                </ul>
            </div>
        </div>
    </nav>
       <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">
                          <p>
                            <td><%= link_to user.name, user %></td>
                            <td><%= link_to user.email, user %></td></p>
                      </span>
                        <hr class="star-light">
                        <span class="skills"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <script src="js/freelancer.js"></script>

</body>

</html>